/* *Tag */

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

button {
    outline: none;
    border: none;
    padding: 10px 15px;
    font-size: medium;
}

a {
    margin-right: 5px;
    padding: 4px 13px;
    text-decoration: none;
}

span ~ div {
    margin-top: 40px;
}

span, div:last-child {
    font-family: monospace;
}

main > div:last-child {
    margin-top: 10px;
}

div > div:first-child {
    text-align: center;
    font-family: cursive;
    font-size: xx-large;
}

main > div:first-child {
    background-color: white;
    padding: 3rem;
    max-width: 550px;
}

a, span {
    font-size: x-large;
}

button, span {
    float: right;
}

a, button, main > div:last-child{
    color: white;
}

a, button, main > div:first-child {
    border-radius: 4px;
}

/* !Class */

.animate { 
    animation: fade-in 5s;
}

/* ? Animations */

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}