/* *Tag */

main {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
button {
    font-size: medium;
    outline: none;
    border: none;
    padding: 10px 15px;
}
a {
    padding: 4px 13px;
    margin-right: 5px;
    text-decoration: none;
}
main > div:first-child {
    max-width: 550px;
    background-color: white;
    padding: 3rem;
}
span ~ div {
    margin-top: 40px;
}
div > div:first-child {
    font-size: xx-large;
    font-family: cursive;
    text-align: center;
}
main > div:last-child {
    margin-top: 10px;
}
a, span {
    font-size: x-large;
}
button, span {
    float: right;
}
span, div:last-child {
    font-family: monospace;
}
a, button, main > div:last-child{
    color: white;
}
a, button, main > div:first-child {
    border-radius: 4px;
}

/* !Class */

.animate { 
    animation: fadeIn 5s;
}

/* ? Animations */

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}